.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    display: flex;
    flex-direction: column;
}

.food-item-image{
    width: 100%;
    height: 260px;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info{
    padding: 5px 10px 10px 10px;
}

.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p{
    font-size: 18px;
    font-weight: 500;
}

.food-item-stars{
    width: 80px;
}

.food-item-description{
    color: rgb(82, 107, 129);
    font-size: 12px;
}

.food-item-price{
    color: rgb(97, 18, 18);
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

.food-item-price-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-item-price-add button{
    border: 1px solid rgb(97, 18, 18);
    background-color: antiquewhite;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.food-item-price-add button:hover{
    background-color: rgb(183, 229, 183);
    
}

.food-item-counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.food-item-counter p{
    font-size: 15px;
    color: rgb(82, 107, 129);
}

.food-item-counter .plus{
    font-size: 18px;
    color: green;
    cursor: pointer;
    background-color: rgb(167, 225, 167);
    padding: 3px;
    border-radius: 50%;
    
}
.food-item-counter .minus{
    font-size: 18px;
    color: red;
    cursor: pointer;
    background-color: rgb(244, 176, 176);
    padding: 3px;
    border-radius: 50%;
}

